div#messagecenter-submissions div.actions .general-button {
    color:  #616161;
}
div#messagecenter-submissions div.actions .mature-button {
    color:  #697CC1;
}
div#messagecenter-submissions div.actions .adult-button {
    color:  #971C1C;
}
div#messagecenter-submissions div.actions .open-button {
    font-weight:        bold;
    background-color:   #88BE88;
}
div#messagecenter-submissions div.actions .open-all-button {
    float:  left;
}
div#messagecenter-submissions div.actions .open-checked-button {
    float:  right;
}

