.error-text {
  color: red;
}

.hint-text {
  font-size: 80%;
}

.tooltip {
  font-weight: bold;
  text-decoration: underline dotted;
  cursor: pointer;
}

.tooltip-content {
  margin-top: -10px;
  padding: 5px 8px;
  background-color: #555;
  font-size: 90%;
  color: #fff;
  border-radius: 6px;
  z-index: 1;
}

.shortcuts-list {
  font-size: 90%;
  margin: 5px 0 8px;
}

.shortcut-key {
  display: inline-block;
  text-align: right;
}

.submissions-shortcuts .shortcut-key {
  width: 105px;
}

.view-shortcuts .shortcut-key {
  width: 50px;
}

.shortcut-join {
  font-size: 80%;
}

.shortcut-action {
  margin-left: 8px;
}