#messagecenter-new-submissions .section-options.actions .general-button {
  background-color: #616161;
}

#messagecenter-new-submissions .section-options.actions .mature-button {
  background-color: #697CC1;
}

#messagecenter-new-submissions .section-options.actions .adult-button {
  background-color: #971C1C;
}

#messagecenter-new-submissions .section-options.actions .open-button {
  font-weight: bold;
  background-color: #88BE88;
  color: #32513F !important;
}

div#shortcut-mode-label {
  position: fixed;
  bottom: 20px;
  left:  20px;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
  border-width: 1px;
  border-radius: 5px;
}

div#shortcut-mode-label.view-mode-label {
  background-color: #88BE88;
  border-color: #32513F;
  color: #32513F;
}

div#shortcut-mode-label.remove-mode-label {
  background-color: #ADADFF;
  border-color: #41526B;
  color: #41526B;
}
